<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <title>Sample Ratio Mismatch (SRM) Checker</title>
    <link rel="stylesheet" type="text/css" href="srm.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    <script type="text/javascript" src="vue/vue.js"></script>
    <script type="text/javascript" src="jstat/jstat.min.js"></script>
    <script type="text/javascript" src="experiment.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-105998856-2', 'auto');
      ga('send', 'pageview');
    </script>
    </head>
    <body>
      <div class="content-wrapper" id="app-tester">
        <div class="container">
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <div class="lead">
                <h2>Sample Ratio Mismatch (SRM) Checker</h2>
              </div>

              <p>Running online controlled experiments--also known as A/B tests--can be difficult. A simple test can be used to detect a <a href="https://dl.acm.org/citation.cfm?id=3292500.3330722">wide variety of data quality issues</a>. Only sample counts are required as input, so this test can be used even when experimenters only have access to summary statistics; such as when using third-party tools, or reading academic research reports.</p>

              <p>Everyone running A/B tests <a href="https://twitter.com/ronnyk/status/932798952679776256?lang=en">should be doing this important SRM test</a>. This simple website can be used to do so.</p>

              <form>
                <div class="form-group">
                  <label for="atraffic">Control sample size</label>
                  <input v-model="input.b.traffic" type="number" pattern="\d*" min="0" class="form-control" id="atraffic" placeholder="Control sample size"/> 
                </div>
                <div class="form-group">
                  <label for="btraffic">Treatment sample size</label>
                  <input v-model="input.v.traffic" type="number" pattern="\d*" min="0"  class="form-control" id="btraffic" placeholder="Treatment sample size"/> 
                </div>
                <div class="form-group">
                  <label for="expectedprop">Expected proportion in treatment</label>
                  <input v-model="input.expectedprop" type="number" step="any" min="0" max="1" pattern="\d*" class="form-control" id="expectedprop" placeholder="Expected proportion in treatment"/> 
                </div>
              </form>
              <br />

              <div class="alert alert-warning" v-if="experiment.get_srm_p(1) < 0.005">
                <em>Warning.</em> Possible sample ratio mismatch detected with <var>{{ display_srm_p }}</var>.
                The observed sample size in treatment does not match the expected proportion of the total sample size.
                This is an indicator for randomisation failure or missing data issues.
                <strong>Comparative statistics may be invalid as a result.</strong>
              </div>

              <div class="alert alert-success text-center" v-if="experiment.get_srm_p(1) >= 0.005">
                No indication of sample ratio mismatch with <var>{{ display_srm_p }}</var>.
              </div>

              <footer class="text-center">
                <small>Designed with <i class="glyphicon glyphicon-heart"></i> by <a href="www.lukasvermeer.nl" target="_blank">Lukas Vermeer</a> for experimenters everywhere</small>
              </footer>
            </div>
          </div>
        </div>
      </div>

      <script type="text/javascript">
      tester = new Vue({
        el: '#app-tester',
        data: {
          input: {
            b: { traffic: "" },
            v: { traffic: "" },
            expectedprop: 0.5,
          },
          e: new Experiment(0)
        },
        computed: {
          experiment: function(val) {
            this.e.set_expectedprop(parseFloat(this.input.expectedprop));
            this.e.visits = [parseInt(this.input.b.traffic), parseInt(this.input.v.traffic)];
            return this.e;
          },
          display_srm_p: function() {
            if (this.e.get_srm_p(1) < 0.0001) {
              return "p < 0.0001";
            } else {
              return "p = " + this.e.get_srm_p(1).toFixed(4);
            }
          }
        }
      });
    </script>
    </body>
</html>
