<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <title>Sample Ratio Mismatch (SRM) Checker</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    <script type="text/javascript" src="vue/vue.min.js"></script>
    <script type="text/javascript" src="../chrome-extension/src/lib/statistics-distributions.js"></script>
    <script type="text/javascript" src="../chrome-extension/src/srm.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-105998856-2', 'auto');
      ga('send', 'pageview');
    </script>
    </head>
    <body>
      <div class="content-wrapper" id="app-tester">
        <div class="container">
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <div class="lead">
                <h2>Sample Ratio Mismatch (SRM) Checker</h2>
              </div>

              <p>The Sample Ratio Mismatch (SRM) test can be used to detect <a href="https://dl.acm.org/citation.cfm?id=3292500.3330722">a wide variety of data quality issues</a> that may affect online experiments (aka A/B tests). Only expected proportions and observed sample counts are required as input for this procedure, so this test can be used even in cases where experimenters only have access to summary statistics; such as when using third-party tools.</p>

              <form>
                <div v-for="(item, index) in input.arms">
                  <div class="form-group col-xs-5">
                    <label for="obs-{{ index }}">Observed sample #{{ index+1 }}</label>
                    <input v-model="item[0]" type="number" pattern="\d*" min="0" class="form-control" id="obs-{{ index }}" placeholder="Observed sample size"/> 
                  </div>
                  <div class="form-group col-xs-5">
                    <label for="exp-{{ index }}">Expected ratio #{{ index+1 }}</label>
                    <input v-model="item[1]" type="number" step="any" min="0" max="1" pattern="\d*" class="form-control" id="exp-{{ index }}" placeholder="Expected ratio"/> 
                  </div>
                  <div class="form-group col-xs-2 text-center">
                    <label for="del-{{ index }}">Del #{{ index+1 }}</label>
                    <button v-on:click="dropArm(index)" class="btn btn-default" type="button" role="button" aria-pressed="true">X</button>
                  </div>
                </div>
                <div class="form-group text-center">
                  <button v-on:click.stop="addArm" class="btn btn-default" type="button" role="button" aria-pressed="true">Add treatment</button>
                </div>
              </form>
              <br />

              <div class="alert alert-info text-center" v-if="sum_props != 1">
                Expected ratios will be multiplied by {{ 1/sum_props }} so they sum to 1.
              </div>

              <div class="alert alert-warning" v-if="flag_srm">
                <em>Warning.</em> Possible sample ratio mismatch detected with <var>{{ display_srm_p }}</var>.
                The observed sample size in treatment does not match the expected proportion of the total sample size.
                This is an indicator for randomisation failure or missing data issues.
                <strong>Comparative statistics may be invalid as a result.</strong>
              </div>

              <div class="alert alert-success text-center" v-if="!flag_srm">
                No indication of sample ratio mismatch with <var>{{ display_srm_p }}</var>.
              </div>

              <p class="text-center lead">Tired of testing for SRM manually?</p>
              <p class="text-center"><a href="https://chrome.google.com/webstore/detail/sample-ratio-mismatch-che/ikielffdbameifemkibfheolelbohipn" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Install the Chrome Extension</a></p>
              <p class="text-center">This extension automatically performs the Sample Ratio Mismatch test and flags potential issues on supported experimentation platforms.</p>

              <footer class="text-center">
                <small>Designed with <i class="glyphicon glyphicon-heart"></i> by <a href="www.lukasvermeer.nl" target="_blank">Lukas Vermeer</a> for experimenters everywhere</small>
              </footer>
            </div>
          </div>
        </div>
      </div>

      <script type="text/javascript">
      tester = new Vue({
        el: '#app-tester',
        data: {
          input: {
            arms: [["",.5], ["",.5]],
          },
        },
        methods: {
          dropArm: function (i) {
            this.input.arms.splice(i,1);
          },
          addArm: function () {
            let p = Math.max(0, 1 - this.sum_props);
            this.input.arms.push(["",p]);
          },
        },
        computed: {
          sum_props: function() {
            return this.input.arms.reduce((s,v) => s + parseFloat(v[1]), 0);
          },
          srm_p: function(v) {
            let scale_props = 1 / this.sum_props;
            let o = this.input.arms.map((v) => parseInt(v[0]));
            let e = this.input.arms.map((v) => parseFloat(v[1]) * 100 * scale_props);
            let p = computeSRM(o,e);
            return p;
          },
          flag_srm: function() {
            return this.srm_p < params.pValueThreshold;
          },
          display_srm_p: function() {
            if (this.srm_p < params.pValueThreshold) {
              return "p < " + params.pValueThreshold;
            } else {
              return "p = " + this.srm_p.toFixed(4);
            }
          }
        }
      });
    </script>
    </body>
</html>
